{% extends 'Layout/base.html' %}
{% block body %}



<div class="container">

  {% if books %}

  <div class="row row-cols-1 row-cols-md-3 g-4 ">
    {% for book in books %}
    <div class="col mt-5 ">
      <div class="card h-100">
        <a href="{% url 'show' book.id %}">
          <img src="{{book.ImageUrl}}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
        </a>
        <h3 class="my-1">{{book.author}}</h3>
        <!-- <p class="card-text">{{book.description}}.</p> -->
      </div>
    </div>
  </div>


  {% endfor %}


</div>

<!-- Pagination links -->
<nav aria-label="Page navigation example ">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not books.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if books.has_previous %}?page={{ books.previous_page_number }}{% endif %}"
        tabindex="-1">Previous</a>
    </li>

    {% for num in books.paginator.page_range %}
    {% if books.number == num %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ num }} </span>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="page-item {% if not books.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if books.has_next %}?page={{ books.next_page_number }}{% endif %}">Next</a>
    </li>
  </ul>
</nav>

{% else %}

<h3>
  Book Not Found Based on your Query
</h3>
{% endif %}
</div>



{% endblock %}