{% extends 'Layout/base.html' %}
{% block body %}



<div class="container">

  {% if books %}

  <div class="row row-cols-1 row-cols-md-3 g-4 ">
    {% for book in books %}
    <div class="col mt-5 ">
      <div class="card h-100">
        <a href="{% url 'show' book.id %}">
          <img src="{{book.ImageUrl}}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
        </a>
        <h3 class="my-1">{{book.author}}</h3>
        <!-- <p class="card-text">{{book.description}}.</p> -->
      </div>
    </div>
  </div>


  {% endfor %}


</div>

<!-- Pagination links -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        Previous
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" tabindex="-1">Previous</span>
    </li>
    {% endif %}

    {% for i in paginator.page_range %}
    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        Next
      </a>
    </li>

    {% else %}
    <li class="page-item disabled">
      <span class="page-link" tabindex="-1">Next</span>
    </li>
    {% endif %}
  </ul>
</nav>



{% else %}

<h3>
  Book Not Found Based on your Query
</h3>
{% endif %}
</div>



{% endblock %}